name: Auto-merge releas branches
on: 
  push:
    branches:
      - release-*
jobs:
  auto-merge-rc-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v1
      - name: Nightly Merge
        uses: sergeevichvn/gh-action-nightly-merge@v1.3.2-beta-16
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
